#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}


.card {
  padding: 2em;
}


input{
  border-radius: 5px;
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;

}

.mb-3{
  margin-bottom: 20px;
}

button{
  width:430px;
  text-align: center;
}
